# Clerk Authentication
VITE_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Firebase Configuration
FIREBASE_PROJECT_ID=app-escola-536ab
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
VITE_FIREBASE_API_KEY=AIzaSyANKtjA1-9NFfR29H14XVHh2NL9_GRTxSo
